body{
    background-image: url("../public/img/25367083_7087743.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: calibri;
}
.card{
    height:100%;
    width: 100%;

}
.image{
    height: 10px;
}

.info{
    background-color: rgba(105, 7, 95, 0.993);
    border-radius: 0px;

}
.input{
    background-color:rgba(105, 7, 95, 0.993) ;
    border-radius: 5px;
    color: white;
}
.register{
    margin-top: 20%;
}
.input-icon {
    width: 100%;
    margin-bottom: 15px;
}

  
.input-field {
    width: 100%;
    padding: 10px;
    text-align: center;
}

.input::placeholder {
    font-family: calibri;
    color: rgba(255, 255, 255, 0.788);

  }
.close{
    font-size: 4vh;
}
.user{
    overflow-y: scroll;
    height:88vh;
    border-radius: 5px;
    
}
.imgsmall{
    border-radius: 80%;
}

.user::-webkit-scrollbar {
    -webkit-appearance: none;
}

.user::-webkit-scrollbar:vertical {
    width:2px;
}

.user::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
} 

.user::-webkit-scrollbar:horizontal {
    height: 10px;
}

.user::-webkit-scrollbar-thumb {
    background-color: #7a7279af;
    
    border: 2px solid #575d6300;
}

.user::-webkit-scrollbar-track {
    border-radius: 0px;  
}
.box{
    margin-bottom: 5px;
}